.search-product-wrapper {
    background-image: url('../../../assets/img/homeBackground.png');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;

  h2 {
    color: white;
  }

  .card {
    border-radius: 10px;
    transition: 0.3s ease;

    &:hover {
      transform: scale(1.02);
    }

    .card-img-top {
      height: 100px;
      object-fit: contain;
      background-color: white;
      border-radius: 10px 10px 0 0;
    }
  }
}

.pagination-wrapper {
  margin-top: 30px;

  .page-link {
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

  .page-item.active .page-link {
    background-color: white;
    color: black;
    font-weight: bold;
  }

  .page-item.disabled .page-link {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.custom-modal .modal-dialog {
  max-width: 90%;
  max-height: 90vh;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-modal .modal-content {
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
  position: relative;
}

.custom-modal .close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  color: #000;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
}

.custom-modal .modal-body {
  text-align: center;
}
